/* HTML5 Boilerplate
 * ==|== normalize.css ==========================================================
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block; }

audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0;
  font-size: 13px;
  line-height: 1.231; }

body, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

::-moz-selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fe57a1;
  color: #fff;
  text-shadow: none; }

a {
  color: #00e; }

a:visited {
  color: #551a8b; }

a:hover {
  color: #06e; }

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold; }

pre, code, kbd, samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: "";
  content: none; }

small {
  font-size: 85%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul, ol {
  margin: 0;
  padding: 0; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  *margin-left: -7px;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button, input {
  line-height: normal;
  *overflow: visible; }

table button, table input {
  *overflow: auto; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #f0dddd; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

/* ==|== non-semantic helper classes ======================================== */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.ir br {
  display: none; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

/* ==========================================================================
   Print styles
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
html,
button,
input,
select,
textarea {
  color: #222; }

html {
  font-size: 1em;
  line-height: 1.4; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

a:link, a:visited {
  color: #d95448; }
a:focus, a:hover {
  color: #e68f87; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

audio,
canvas,
img,
video {
  vertical-align: middle; }

aside {
  margin: 10px 0; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Merriweather Sans", Helvetica, Helvetica Neue, Arial, cursive; }

ul {
  margin-left: 40px; }

textarea {
  resize: vertical; }

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  background: #3d4038;
  font: 18px/28px "Merriweather Sans", Helvetica, Helvetica Neue, Arial, cursive;
  height: 100%; }

.wrapper {
  margin: 0 2%; }

/* ===================
    ALL: Orange Theme
   =================== */
.header-container {
  border-bottom: 20px solid #ef8200; }

.footer-container,
.main aside {
  border-top: 20px solid #ef8200; }

.header-container,
.footer-container,
.main aside {
  background: #3d4038; }
  .header-container a:link, .header-container a:visited,
  .footer-container a:link,
  .footer-container a:visited,
  .main aside a:link,
  .main aside a:visited {
    color: #a0e3f2; }
  .header-container a:focus, .header-container a:hover,
  .footer-container a:focus,
  .footer-container a:hover,
  .main aside a:focus,
  .main aside a:hover {
    color: #5dcfe9; }
  .header-container nav a:link, .header-container nav a:visited,
  .footer-container nav a:link,
  .footer-container nav a:visited,
  .main aside nav a:link,
  .main aside nav a:visited {
    color: #3d4038; }
  .header-container nav a:focus, .header-container nav a:hover,
  .footer-container nav a:focus,
  .footer-container nav a:hover,
  .main aside nav a:focus,
  .main aside nav a:hover {
    color: #5dcfe9; }

.title {
  color: white; }

.main-container {
  background: #ffffff; }
  .main-container header {
    text-align: center; }
    .main-container header h3 {
      margin: 0;
      padding: 30px 0 10px; }

/* ==============
    MOBILE: Menu
   ============== */
nav ul {
  margin: 0;
  padding: 0; }

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  background: #ef8200; }
  nav a:link, nav a:visited {
    color: #3d4038; }
  nav a:focus, nav a:hover {
    color: #575b50; }

/* ==============
    MOBILE: Main
   ============== */
.main {
  padding: 30px 0; }

.main article h1 {
  font-size: 2em; }

.main aside {
  color: white;
  padding: 0px 5% 10px; }

.footer-container footer {
  color: white;
  padding: 20px 0; }

/* ===============
    ALL: IE Fixes
   =============== */
.ie7 .title {
  padding-top: 20px; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* ==========================================================================
   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
    INTERMEDIATE: Menu
   ==================== */
  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 15px 2%;
    margin-bottom: 0; }

  nav li:first-child a {
    margin-left: 0; }

  nav li:last-child a {
    margin-right: 0; }

  /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */
  nav ul li {
    display: inline; }

  .oldie nav a {
    margin: 0 0.7%; } }
@media only screen and (min-width: 768px) {
  /* ====================
    WIDE: CSS3 Effects
   ==================== */
  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa; }

  /* ============
    WIDE: Menu
   ============ */
  .title {
    float: left; }

  nav {
    float: right;
    width: 38%; }

  /* ============
    WIDE: Main
   ============ */
  .main {
    display: flex; }
    .main article {
      border: 1px solid #a0e3f2;
      margin: 0 5px;
      padding: 10px 1%;
      width: 47%; }
      .main article h3 {
        text-align: center; }
      .main article ul {
        margin: 0; }
        .main article ul li {
          font-size: 1.2em;
          border-bottom: 1px solid #a0e3f2;
          cursor: pointer;
          padding: 10px 0;
          list-style-type: none; }
          .main article ul li:last-child {
            border: 0; } }
@media only screen and (min-width: 1140px) {
  /* ===============
    Maximal Width
   =============== */
  .wrapper {
    width: 1100px;
    /* 1140px - 10% for margins */
    margin: 0 auto; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
.strike {
  text-decoration: line-through; }

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

.hidden {
  display: none !important;
  visibility: hidden; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

.invisible {
  visibility: hidden; }

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table; }

.clearfix:after {
  clear: both; }

.clearfix {
  *zoom: 1; }

.year-2016,
.year-2017 {
  background: #d6d8d2; }
  .year-2016 .content,
  .year-2017 .content {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin: 0 auto;
    max-width: 800px; }
    .year-2016 .content .wrapper,
    .year-2017 .content .wrapper {
      width: auto; }
    .year-2016 .content .header-container,
    .year-2017 .content .header-container {
      -webkit-box-shadow: none;
      box-shadow: none; }
    .year-2016 .content .main article,
    .year-2017 .content .main article {
      border: 0;
      margin: 20px;
      width: auto; }
      .year-2016 .content .main article h3,
      .year-2017 .content .main article h3 {
        text-align: left; }
      .year-2016 .content .main article ul,
      .year-2017 .content .main article ul {
        margin: 0 0 50px; }
      .year-2016 .content .main article li,
      .year-2017 .content .main article li {
        list-style-type: none; }
        .year-2016 .content .main article li:before,
        .year-2017 .content .main article li:before {
          background: #3d4038;
          height: 30px;
          margin-right: 15px;
          width: 30px; }
      .year-2016 .content .main article.archive li,
      .year-2017 .content .main article.archive li {
        border: 0;
        display: inline-block;
        text-align: center; }
        .year-2016 .content .main article.archive li a,
        .year-2017 .content .main article.archive li a {
          font-size: 2.8rem;
          margin: 15px;
          text-align: center; }
    .year-2016 .content .footer-container,
    .year-2017 .content .footer-container {
      padding: 25px;
      text-align: center; }
      .year-2016 .content .footer-container p,
      .year-2017 .content .footer-container p {
        margin-bottom: 0;
        padding-bottom: 0; }
  .year-2016 .title,
  .year-2017 .title {
    float: none;
    text-align: center; }

[class^="icon-"], [class*=" icon-"] {
  height: 28px;
  width: 28px;
  display: inline-block;
  fill: #3d4038;
  vertical-align: bottom; }

.year-2017 {
  background: #333333; }
  .year-2017 .header-container {
    border-top: 20px solid #10607E;
    border-bottom: 0; }
  .year-2017 .content {
    border: 0; }
    .year-2017 .content a:link, .year-2017 .content a:visited {
      color: #C97112; }
    .year-2017 .content a:focus, .year-2017 .content a:hover {
      color: #eb8b23; }
    .year-2017 .content nav a:link, .year-2017 .content nav a:visited {
      color: #C97112; }
    .year-2017 .content nav a:focus, .year-2017 .content nav a:hover {
      color: #eb8b23; }
    .year-2017 .content ul li {
      border-bottom: 1px #333333 solid; }
      .year-2017 .content ul li.strike {
        color: #C99412; }
  .year-2017 .footer-container,
  .year-2017 .main aside {
    border-bottom: 20px solid #10607E;
    border-top: 0; }
  .year-2017 .header-container,
  .year-2017 .footer-container,
  .year-2017 .main aside {
    background: #ffffff;
    color: #333333; }
    .year-2017 .header-container .title,
    .year-2017 .footer-container .title,
    .year-2017 .main aside .title {
      color: #333333; }
    .year-2017 .header-container a:link, .year-2017 .header-container a:visited,
    .year-2017 .footer-container a:link,
    .year-2017 .footer-container a:visited,
    .year-2017 .main aside a:link,
    .year-2017 .main aside a:visited {
      color: #C97112; }
    .year-2017 .header-container a:focus, .year-2017 .header-container a:hover,
    .year-2017 .footer-container a:focus,
    .year-2017 .footer-container a:hover,
    .year-2017 .main aside a:focus,
    .year-2017 .main aside a:hover {
      color: #eb8b23; }
    .year-2017 .header-container nav a:link, .year-2017 .header-container nav a:visited,
    .year-2017 .footer-container nav a:link,
    .year-2017 .footer-container nav a:visited,
    .year-2017 .main aside nav a:link,
    .year-2017 .main aside nav a:visited {
      color: #C97112; }
    .year-2017 .header-container nav a:focus, .year-2017 .header-container nav a:hover,
    .year-2017 .footer-container nav a:focus,
    .year-2017 .footer-container nav a:hover,
    .year-2017 .main aside nav a:focus,
    .year-2017 .main aside nav a:hover {
      color: #eb8b23; }

/*# sourceMappingURL=style.css.map */
