// CSS normalize.css reset
@import "modules/normalize";

// See modules/_base.scss
@import "modules/base";

@import "partials/header";
@import "partials/footer";
@import "partials/ie";
@import "partials/print";

$font-heading: "Merriweather Sans", Helvetica, Helvetica Neue, Arial, cursive;
$font-body: $font-heading;

$color-bg: #3d4038;
$color-accent: #ef8200;
$color-href: #d95448;
$color-href-hover: lighten($color-href, 15%);
$color-href-alt: #a0e3f2;
$color-href-alt-hover: darken($color-href-alt, 15%);
$color-white: #ffffff;

html,
button,
input,
select,
textarea {
  color: #222;
}

html {
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

a {
  @include href-colors($color-href, $color-href-hover);
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
img,
video {
  vertical-align: middle;
}

aside {
  margin: 10px 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}

ul {
  margin-left: 40px;
}

textarea {
  resize: vertical;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
  background: $color-bg;
  font: 18px/28px $font-body;
  height: 100%;
}

.wrapper {
  margin: 0 2%;
}

/* ===================
    ALL: Orange Theme
   =================== */

.header-container {
  border-bottom: 20px solid $color-accent;
}

.footer-container,
.main aside {
  border-top: 20px solid $color-accent;
}

.header-container,
.footer-container,
.main aside {
  background: $color-bg;

  a {
    @include href-colors($color-href-alt, $color-href-alt-hover);
  }

  & nav {
    a {
      @include href-colors($color-bg, $color-href-alt-hover);
    }
  }
}

.title {
  color: white;
}

.main-container {
  background: $color-white;

  header {
    text-align: center;

    h3 {
      margin: 0;
      padding: 30px 0 10px;
    }
  }
}

/* ==============
    MOBILE: Menu
   ============== */

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;

  text-align: center;
  text-decoration: none;
  font-weight: bold;

  @include href-colors($color-bg, lighten($color-bg, 10%));
  background: $color-accent;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
  padding: 30px 0;
}

.main article h1 {
  font-size: 2em;
}

.main aside {
  color: white;
  padding: 0px 5% 10px;
}

.footer-container footer {
  color: white;
  padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* ====================
    INTERMEDIATE: Menu
   ==================== */

  nav a {
    float: left;
    width: 27%;
    margin: 0 1.7%;
    padding: 15px 2%;
    margin-bottom: 0;
  }

  nav li:first-child a {
    margin-left: 0;
  }

  nav li:last-child a {
    margin-right: 0;
  }

  /* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

  nav ul li {
    display: inline;
  }

  .oldie nav a {
    margin: 0 0.7%;
  }
}

@media only screen and (min-width: 768px) {
  /* ====================
    WIDE: CSS3 Effects
   ==================== */

  .header-container,
  .main aside {
    -webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
  }

  /* ============
    WIDE: Menu
   ============ */

  .title {
    float: left;
  }

  nav {
    float: right;
    width: 38%;
  }

  /* ============
    WIDE: Main
   ============ */

  .main {
    display: flex;

    article {
      border: 1px solid $color-href-alt;
      margin: 0 5px;
      padding: 10px 1%;
      width: 47%;

      h3 {
        text-align: center;
      }

      ul {
        margin: 0;

        li {
          font-size: 1.2em;
          border-bottom: 1px solid $color-href-alt;
          cursor: pointer;
          padding: 10px 0;
          list-style-type: none;

          &:last-child {
            border: 0;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1140px) {
  /* ===============
    Maximal Width
   =============== */

  .wrapper {
    width: 1100px; /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.strike {
  text-decoration: line-through;
}

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  *text-indent: -9999px;
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

.invisible {
  visibility: hidden;
}

.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

@import "partials/2016";
@import "partials/2017";
