.year-2016,
.year-2017 {
  background: lighten( $color-bg, 60% );

  .content {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    margin: 0 auto;
    max-width: 800px;

    .wrapper {
      width: auto;
    }

    .header-container {
      -webkit-box-shadow: none;
      box-shadow: none;
    }

    .main {
      article {
        border: 0;
        margin: 20px;
        width: auto;

        h3 {
          text-align: left;
        }

        ul {
          margin: 0 0 50px;
        }

        li {
          list-style-type: none;
          &:before {
            background: $color-bg;
            height: 30px;
            margin-right: 15px;
            width: 30px;
          }
        }

				&.archive {
					li {
						border: 0;
						display: inline-block;
						text-align: center;
						a {
							font-size: 2.8rem;
							margin: 15px;
							text-align: center;
						}
					}
				}
      }
    }

    .footer-container {
      padding: 25px;
      text-align: center;

      p {
        margin-bottom: 0;
        padding-bottom: 0;
      }
    }
  }

  .title {
    float: none;
    text-align: center;
  }
}

[class^="icon-"], [class*=" icon-"] {
    height: 28px;
    width: 28px;
    display: inline-block;
    fill: $color-bg;
    vertical-align: bottom;
}
